.root {
    -fx-background-image:  url("../image/gameBackround.jpg");
}

.cell {
    -fx-border-color: black;
    -fx-border-width: 1px;
}

.cell-highlight {
    -fx-border-color: black;
    -fx-background-color: #ff9494;
    -fx-border-width: 1px;
}

.miss {
    -fx-border-color: black;
    -fx-background-color: red;
    -fx-border-width: 1px;
}

.damaged {
    -fx-border-color: black;
    -fx-background-color: #63ff63;
    -fx-border-width: 1px;
}

.destroyed {
    -fx-border-color: black;
    -fx-background-color: #006900;
    -fx-border-width: 1px;
}

.missMyBoard {
    -fx-border-color: black;
    -fx-background-color: #ff8282;
    -fx-border-width: 1px;
}

.damagedMyBoard {
    -fx-border-color: black;
    -fx-background-color: #e10000;
    -fx-border-width: 1px;
}

.destroyedMyBoard {
    -fx-border-color: black;
    -fx-background-color: #000000;
    -fx-border-width: 1px;
}

.button {
    -fx-border-radius: 3px;
    /*-fx-background-color: transparent;*/
    -fx-background-color:
        radial-gradient(center 50% 50%, radius 100%, #4343ff, #2121ff);
    -fx-border-color: #5757ff;
    -fx-text-fill: #c7faf4;
}

.button:hover {
    -fx-background-color:
            radial-gradient(center 50% 50%, radius 100%, #5757ff, rgba(128, 148, 255, 1));
    -fx-border-color: #5757ff;
    -fx-text-fill: #c7faf4;
}

.button:pressed {
    -fx-background-color:
            radial-gradient(center 50% 50%, radius 100%, rgb(255, 105, 105), rgb(255, 171, 171));
    -fx-border-color: #5757ff;
    -fx-text-fill: black;
}

#shipsPane {
    -fx-background-color: #a1b3ff;
    -fx-border-color: #00003f;
    -fx-border-radius: 8px;
    -fx-background-radius: 8px;
}

#playerBoard {
    -fx-background-color: #bbe1ee;
}

#enemyBoard {
    -fx-background-color: #6dbce3;
}